{{ define "drawer-menu" }}
<div class="drawer-menu hidden-lg">
  <nav class="drawer-menu-tree">
    {{ range .Links }}

    {{ if eq .Info.BlockType "Group"}}
    <div class="row group-item">
      <span>
        {{ .Info.Description }}
      </span>
    </div>
    {{ range .Links}}

        {{ if or (eq .Info.BlockType "Module") (eq .Info.BlockType "Content") }}
    <div class="row menu-item" onclick="showSection('section-{{ .Info.Id }}')">
      <span class="menu-item-content">
        {{ .Info.Id }}
      </span>
    </div>
    {{ end }}

      {{ end }}
    {{ end }}
  {{ end }}
  </nav>
</div>
{{ end }}