{{ define "header" }}
<meta charset="UTF-8">
<title>Amauta docs</title>
<!-- MiniCSS -->
<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Remixicon -->
<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
<!-- Highlight.min.js -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
<!-- Injected css -->
<style>
  {{.Info.themeStyle}}

{{template "menu-tree.css" .}}
{{template "content.css" .}}
{{template "head-banner.css" .}}
</style>
<!-- Injected js -->
<script>
  {{template "script-js"}}
</script>
{{ end }}