{{ define "menu-tree" }}
<nav class="menu-tree">
  <div class="menu-tree-inner">
    {{ range .Links }}

    {{ if eq .Info.BlockType "Group"}}
    <div class="row group-item">
      <span>
        {{ .Info.Description }}
      </span>
    </div>
    {{ range .Links}}

    {{ if or (eq .Info.BlockType "Module") (eq .Info.BlockType "Content") }}
    <div class="row menu-item" onclick="showSection('section-{{ .Info.Id }}')">
      <span class="menu-item-content">
        {{ .Info.Id }}
      </span>
    </div>
    {{ end }}

      {{ end }}
    {{ end }}
  {{ end }}
  </div>
  <div class="menu-footer" onclick="window.open('https://github.com/luislve17/amauta', '_blank')">
    <div class="menu-footer-content">
      <i class="ri-book-fill"></i>
      Powered with ♥ by Amauta
    </div>
  </div>
</nav>
{{ end }}