{{ define "menu-tree-css" }}

.menu-tree {
  position: fixed;
  top: 50px;
  height: calc(100vh - 80px); /* 100vh minus top + bottom */
  overflow-y: auto;
  width: clamp(300px, 15vw, 800px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
}

.menu-item {
  cursor: pointer;
  padding: 0;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu-item-content {
  color: #777;
  transition: color 0.2s ease;
  padding: 4px 16px 4px 16px
}

.menu-item:hover .menu-item-content {
  color: #000;
}

.module-icon {
  padding-right: 1px;
}
{{ end }}

