{{define "script-js"}}
hljs.highlightAll();

function showSection(id) {
  document.querySelectorAll('.content-section').forEach(el => {
    el.classList.remove('active');
  });

  const target = document.getElementById(id);
  if (target) {
    target.classList.add('active');
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
}

document.addEventListener("DOMContentLoaded", function () {
  const toggleBtn = document.querySelector(".menu-toggle-button");
  const drawerMenu = document.querySelector(".drawer-menu");

  toggleBtn?.addEventListener("click", function () {
    drawerMenu?.classList.toggle("show");
  });
});
{{end}}